@import "mixins/banner";
@include bsBanner("");

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700&display=swap');
// scss-docs-start import-stack
// Configuration
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
// @import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

body{
  font-family: 'Roboto' !important;
}

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";
// scss-docs-end import-stack
.shadow-navbar{
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);
}

.shadow-primary{
  box-shadow: 10px 10px 20px 0px rgba(10, 48, 179, 0.50);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.br-dinamic{
  @apply xl:block hidden
}

.grid-icon{
  @apply w-full grid grid-cols-3 gap-6 mb-0;

  .icon-wrapper{
    @apply flex flex-col md:justify-start justify-center md:items-start items-center gap-2;

    span.text-icon{
      @apply text-dark md:text-[16px] text-xs font-medium;
    }
  }
}

section{
  @apply w-full lg:px-[80px] md:px-[40px] px-2 py-0;

  .banner-grid{
    @apply grid grid-cols-12 gap-6 relative;

    .image-banner{
      @apply md:col-span-6 h-full lg:flex hidden flex-col justify-end items-end;

      .banner-image{
        @apply overflow-hidden w-full xl:h-[610px] h-full border-white border-[10px] xl:rounded-t-[50%] rounded-t-none shadow-[0_0_20px_0_rgba(0,0,0,0.25)];
      }
    }

    .wrapper-title{
      @apply flex flex-col xl:order-last order-first lg:col-span-6 col-span-12 justify-end gap-2;

      h1{
        @apply text-dark sm:leading-[62.5px] sm:font-medium font-bold sm:text-[50px] sm:mb-[30px] mb-0 text-left text-xl;
      }

      p{
        @apply text-secondary block font-light sm:text-[30px] sm:leading-8 text-base sm:mb-[80px] mb-2;
      }
    }

    //Testimonial SASS Style
    .img-testimonial{
      @apply lg:col-span-6 w-full lg:flex hidden xl:h-[610px] object-cover border-white border-[10px] rounded-tl-[50%] shadow-[0_0_20px_0_rgba(0,0,0,0.25)];
    }

    .wrapper-title-testimonial{
      @apply lg:col-span-6 col-span-12 flex flex-col justify-center md:gap-0 gap-1;

      h1{
        @apply text-primary-dark md:font-semibold flex lg:text-[50px] md:text-3xl text-base lg:mb-10 md:mb-3 mb-0 p-0;
      }

      p{
        @apply md:text-primary-dark text-secondary-gray md:order-3 order-3 font-medium md:text-[30px] md:leading-[37.5px] text-base w-full mb-0 md:mb-2;
      }

      span.text-user-testi{
        @apply text-primary-dark md:text-secondary-gray md:order-4 order-first text-base font-normal md:mb-12 mb-0;
      }
    }
  }

  .tag-category{
    @apply mb-7 md:text-2xl md:text-secondary-gray md:font-normal font-bold text-primary-dark text-base;    
  }

  .grid-card-image{
    @apply grid grid-cols-12 md:auto-rows-[minmax(200px,250px)] auto-rows-[minmax(60px,80px)] grid-flow-dense relative md:gap-6 gap-2 z-[3];

    .item{
      @apply rounded-lg;

      .card-image{
        @apply w-100 h-100 relative rounded-[10px];

        .tag-big-image{
          @apply absolute top-0 right-0 bg-primary2 rounded-tr-[10px] rounded-bl-[40px] text-center w-fit py-2 px-[18px] z-[3];

          .text-tag {
            @apply text-white font-semibold text-xl;
          }
        }

        .tag-small-image{
          @apply absolute top-0 right-0 bg-primary2 rounded-tr-[10px] md:rounded-bl-[30px] rounded-bl-2xl text-center w-fit py-1 md:px-[18px] px-2 z-[3];

          .text-tag{
            @apply text-white font-semibold text-xs;
          }
        }

        .wrapper-image{
          @apply h-full overflow-hidden rounded-[10px] mb-0;
        }

        .title-wrapper{
          @apply mt-3;

          h5{
            @apply text-base leading-none font-medium mb-1;
          }

          span{
            @apply text-slate-200 text-xs leading-none font-medium mb-1
          }
        }

        &.card-fitur{
          @apply h-full overflow-hidden cursor-pointer;

          &::after{
            content: "";
            @apply absolute top-0 bottom-0 left-0 right-0 scale-100 transition-transform duration-[0.5s] ease-in-out z-[2];
            @include gradient-y(rgba($black, 0), rgba($black, 0.51), 50%, 100%);
          }

          .wrapper-image{
            @apply absolute m-0 top-0 bottom-0 left-0 right-0 scale-100 transition-transform duration-[0.25s] ease-in-out z-[1] rounded-[10px];
          }

          .title-wrapper{
            @apply items-start absolute text-white w-full md:p-3 md:py-2 px-[5px] py-1 top-0 bottom-0 translate-y-0 duration-[0.25s] transition-transform ease-in-out flex justify-end flex-col z-10;
          }

          &:hover{
            .title-wrapper{
              @apply translate-y-[-12px];
            }

            &::after, .wrapper-image{
              @apply scale-110;
            }
          }
        }

      }
    }
  }
}

.frame-section{
  @apply flex flex-col md:gap-11 gap-3;

  &.full-height{
    @apply min-h-screen;
  }

  .main{
    @apply flex-1;

    &.mid{
      @apply flex justify-center items-center;
    }
  }

  .carousel{
    @apply w-full mt-[60px] h-[600px] relative md:block hidden;
  }
}

.frame-section-about{
  @apply flex flex-col md:gap-28 gap-3;
}

.filter-search{
  @apply mt-[80px] md:hidden block;
}

.filter-card-find{
  @apply md:flex hidden flex-col gap-3 h-fit px-6 py-7 w-[270px] border border-secondary-gray rounded sticky top-[80px];
}

.card-content-find{
  @apply w-full h-fit;
}

.slider-modal{
  @apply fixed bottom-0 left-0 right-0 top-1/4 bg-white rounded-t-3xl z-[70] translate-y-full md:hidden block;

  &.show{
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &.close{
    animation-name: slide-down;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

@keyframes slide-up {
  0% {
      transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);      
  }
  100% {
    transform: translateY(100%);
  }
}

.card{
  @apply w-full rounded-xl overflow-hidden relative cursor-pointer;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);

  .top-image{
    @apply w-full h-36 m-0 overflow-hidden;

    img{
      @apply scale-100 duration-[.25s] transition-all ease-in-out;
    }
  }

  .body-text{
    @apply sm:p-3 p-2 flex justify-between items-center relative;

    .text-price{
      @apply sm:relative absolute sm:text-primary-dark text-white sm:top-0 sm:left-0 -top-4 -left-2 sm:p-0 px-3 sm:rounded-none rounded-tr-md sm:bg-transparent bg-primary-orange  font-medium sm:text-sm text-xs order-first flex;
    }

    .text-location{
      @apply flex order-last flex-col justify-end font-medium text-sm;

      .name{
        @apply font-medium sm:text-base text-xs;
      }

      .country{
        @apply font-medium text-xs;
      }
    }

    &::after{
      content: "";
      @apply absolute left-0 right-0 top-0 bottom-0;
    }
  }

  .tag{
    @apply absolute top-0 right-0 bg-primary2 rounded-tr-[10px] md:rounded-bl-[30px] rounded-bl-3xl text-center w-fit md:py-1 py-[2px] md:px-5 px-4 z-[3];

    .text-tag {
      @apply text-white font-semibold text-sm;
    }
  }

  &:hover{
    .top-image{
      img{
        @apply scale-110;
      }
    }
  }
}

.footer-wrapper{
  @apply flex xl:justify-between justify-center items-center;

  .wrapper-text-about{
    @apply xl:flex hidden flex-col gap-2 w-[420px];

    .about{
      @apply text-xl font-normal;
    }

    p{
      @apply font-normal text-sm;
    }
  }

  .social-media{
    @apply flex gap-4;

    figure{
      @apply rounded-[50%] md:w-10 w-6 h-6 md:h-10 bg-white flex justify-center items-center mb-0;
    }
  }

  .wrapper-subscribe{
    @apply xl:flex hidden flex-col gap-3;

    p.text-sub{
      @apply text-xs font-semibold text-white m-0;
    }

    .group-input{
      @apply flex gap-4 relative;

      input[type="email"]{
        @apply py-1 px-2 text-sm rounded-lg w-72 outline-none transition-all ease-in-out duration-75 border border-white font-semibold;
      }

      input[type="email"]::placeholder{
        @apply text-[#D9D9D9] font-semibold;
      }

      input[type="email"]:focus{
        @apply border-primary-orange;
      }

      &::after{        
        @apply absolute top-0 left-0 -mt-8 text-white font-semibold text-xs;
        content: "Subscribe untuk informasi terbaru";
      }
    }
  }

  .wrapper-copyright{
    @apply absolute bottom-0 left-0 right-0 h-4 flex justify-center items-center;
    
    span{
      @apply text-xs text-white font-light mb-1;
    }
  }
}

.wrapper-top-details{
  @apply flex flex-col md:gap-4 gap-2;

  .header-title{
    @apply grid grid-cols-12 grid-rows-1 items-center;

    .wrapper-breadcumb{
      @apply col-span-4 md:flex hidden items-center justify-start;
  
      nav{
        @apply flex;
  
        ol{
          @apply inline-flex m-0 p-0 items-center space-x-2;
  
          li{
            .content{
              @apply flex items-center;
  
              .breadcumb-text{
                @apply text-lg font-normal;
  
                &:not(.active){
                  @apply text-secondary-gray
                }
  
                &.active{
                  @apply text-primary-dark;
                }
              }

              &.divider::before{
                @apply pr-[6px];
                content: '/'
                
              }
            }
          }
        }
      }
    }
  
    .wrapper-title-details{
      @apply md:col-span-4 col-span-12 flex flex-col justify-center items-center gap-2;
  
      h2{
        @apply text-primary-dark font-medium m-0;
      }
  
      h4{
        @apply text-secondary-gray font-normal m-0;
      }
    }
  }

  .header-image{
    @apply grid grid-cols-12 auto-rows-[minmax(125px,125px)] grid-flow-dense md:gap-6 gap-2;

    .item-image{
      @apply w-full h-full md:block hidden rounded-lg;

      &.center{
        @apply xl:col-span-10 col-span-12 row-span-4;
      }

      &.side{
        @apply xl:col-span-2 col-span-12 xl:row-span-4 row-span-1;

        .vertical{
          @apply hidden xl:block w-full h-full;
        }

        .horizontal{
          @apply xl:hidden block w-full h-full;
        }
      }
    }

    .item-image-main{
      @apply w-full h-full overflow-hidden block md:hidden m-0 rounded-lg;

      img{
        @apply object-cover w-full h-full;
      }
    }
  }

  .thumb-img{
    @apply grid md:hidden grid-cols-12 auto-rows-[minmax(50px,50px)] gap-2;

    .item-image{
      @apply w-full h-full rounded-lg cursor-pointer;

      &.active{
        @apply border-[2px] border-primary-orange;
      }
    }
  }
}

.details-grid{
  @apply grid grid-cols-12 gap-6 relative mt-3;

  .text-wrapper-details{
  @apply xl:col-span-7 md:col-span-6 col-span-12;

    h6 {
      @apply font-semibold text-primary-dark;
    }

    .detail-teks{
    p{
        @apply font-normal text-secondary-gray text-sm mb-2;
      }
    }

    .grid-icon{
      @apply grid xl:grid-cols-7 grid-cols-8 gap-6 mt-4;

      .item-icon-start{
        @apply col-span-2;

        .icon-wrapper{
          @apply flex flex-col justify-start items-start gap-2;

          img{
            @apply w-7 h-7 object-cover;
          }

          p.text-icon{
            @apply text-secondary-gray text-xs font-normal m-0;
          }
        }
      }

      .item-icon-end{
        @apply xl:col-span-1 col-span-2;

          .icon-wrapper{
          @apply flex flex-col justify-start items-start gap-2;

          img{
            @apply w-8 h-8 object-cover;
          }

          p.text-icon{
            @apply text-secondary-gray text-xs font-normal m-0;
          }
        }
      }
    }
  }

  .pay-transaction{
    @apply xl:col-span-5 md:col-span-6 col-span-12 flex justify-center;

    .wrapper-pay{
      @apply shadow-[0_0_2px_0_rgba(0,0,0,0.20)] xl:px-24 xl:py-12 md:px-16 p-3 rounded-2xl flex flex-col gap-2 h-fit w-full;

      h3{
        .text-price{
          @apply text-4xl text-prmary-blue font-medium;
        }
      }
    }

    .wrapper-input{
      @apply flex flex-col gap-1;
    }

    .total-price{
      @apply text-base m-0 text-secondary-gray font-medium;
    }
  }
}


.item-doing{
  @apply w-full h-[200px];
  flex: 0 0 auto;

  .card-image{
    @apply w-100 h-100 relative rounded-[10px];

    .wrapper-image{
      @apply h-full overflow-hidden rounded-[10px] mb-0;
    }

    .title-wrapper{
      @apply mt-3;

      span{
        @apply text-slate-200 text-lg leading-none font-medium mb-1;
      }
    }

    &.card-fitur{
      @apply h-full overflow-hidden;

      &::after{
        content: "";
        @apply absolute top-0 bottom-0 left-0 right-0 scale-100 transition-transform duration-[0.5s] ease-in-out z-[2];
        @include gradient-y(rgba($black, 0), rgba($black, 0.51), 50%, 100%);
      }

      .wrapper-image{
        @apply absolute m-0 top-0 bottom-0 left-0 right-0 scale-100 transition-transform duration-[0.25s] ease-in-out z-[1] rounded-[10px];
      }

      .title-wrapper{
        @apply items-end absolute text-white w-full md:p-3 md:py-2 px-2 py-1 top-0 bottom-0 translate-y-0 duration-[0.25s] transition-transform ease-in-out flex justify-end flex-col z-10;
      }
    }

  }
}

.price-text-sheet{
  @apply flex flex-col bg-white;

  h6{
    @apply m-0 p-0;
  }

  .price-total{
    @apply flex items-end justify-start;
    
    .price{
      @apply text-base font-medium text-prmary-blue;
    }

    .unit{
      @apply text-xs font-normal text-secondary-gray;
    }
  }
}

.booking-main-container{
  @apply grid grid-cols-2 justify-center lg:gap-0 gap-3 items-center;

  .content-booking-left{
    @apply lg:col-span-1 col-span-2 lg:pr-10 lg:py-5 p-0 h-full lg:border-r lg:border-secondary-gray;

    figure{
      @apply relative w-full max-w-full lg:max-h-[450px] h-auto rounded-lg overflow-hidden;
    }
  }

  .content-booking-right{
    @apply lg:col-span-1 col-span-2 flex h-full flex-col justify-center lg:pl-10 lg:py-5 p-0 lg:border-l lg:border-secondary-gray;

    .rows{
      @apply grid grid-cols-2 lg:gap-10 gap-2;

      .konten-input{
        @apply lg:col-span-2 md:col-span-1 col-span-2;
      }
    }
  }
}

.payment-main-container{
  @apply grid grid-cols-2 lg:gap-0 gap-6 justify-center items-center;

  .content-payment-left{
    @apply col-span-2 lg:col-span-1 h-full flex flex-col lg:pr-10 lg:py-5 p-0 lg:border-r lg:border-secondary-gray gap-6;

    .ringkasan-pembayaran{
      @apply flex flex-col gap-2;

      table{
        @apply border-none md:ml-4 ml-2;
      }
    }

    .transfer-pembayaran{
      @apply flex flex-col gap-2;

      .payment-card{
        @apply flex lg:flex-col md:flex-row flex-col gap-4 md:ml-4 ml-2;

        .item-card{
          @apply flex items-center md:gap-4 gap-2;

          figure{
            @apply border border-secondary-gray rounded-lg m-0 max-w-[310px] max-h-[150px] overflow-hidden px-4 py-1;
          }

          .wrapper-text-detail{
            @apply flex flex-col justify-start lg:gap-3 md:gap-2 gap-1 ;

            h5{
              @apply text-base font-light whitespace-nowrap m-0 p-0 leading-none;
            }
          }
        }
      }

      // .payment-card{
      //   @apply flex lg:flex-col md:flex-row flex-col gap-4 md:ml-4 ml-2 m-0 p-0;

      //   li{
      //     @apply relative inline-flex items-center w-full;

      //     label{
      //       @apply w-fit bg-transparent cursor-pointer hover:text-black;
      //     }

      //     .item-card{
      //       @apply flex items-center md:gap-4 gap-2;

      //       figure{
      //         @apply rounded-lg m-0 max-w-[310px] max-h-[150px] overflow-hidden px-4 py-1;
      //       }

      //       .wrapper-text-detail{
      //         @apply flex flex-col justify-start lg:gap-3 md:gap-2 gap-1 ;

      //         h5{
      //           @apply text-base font-light whitespace-nowrap m-0 p-0 leading-none;
      //         }
      //       }
      //     }

      //   }
      // }
    }
  }

  .content-payment-right{
    @apply col-span-2 lg:col-span-1 h-full flex flex-col lg:gap-10 gap-2 justify-center lg:pl-10 lg:py-5 p-0 lg:border-l lg:border-secondary-gray;

    h5{
      @apply font-medium text-primary-dark text-left lg:hidden flex;
    }

    .rows{
      @apply grid grid-cols-3 lg:gap-10 gap-3 lg:ml-0 md:ml-4 ml-2;

      .konten-input{
        @apply lg:col-span-3 md:col-span-1 col-span-3;
      }
    }
  }

}

.btn-booking-back{
  @apply flex md:py-3 py-1 md:px-0 px-4 w-fit md:w-[250px] justify-center rounded-3xl text-center bg-[#DAE4F1] text-secondary-gray;
}

.btn-booking-next{
  @apply flex md:py-3 py-1 md:px-0 px-4 w-fit md:w-[250px] justify-center bg-primary-orange rounded-3xl text-white;
}

.container-error{
  @apply w-full h-[100vh] flex flex-col justify-center items-center;

  .wrapper{
    @apply w-3/5 h-3/5 relative;
    background-repeat: no-repeat;
    background-size: contain;

    a{
      @apply py-2 px-6 absolute bottom-[15%] left-1/2 -translate-x-1/2 text-white text-center text-xl font-semibold rounded-lg bg-[#DEE8F5] shadow-[10px_10px_0_0_rgb(158,188,234)] xl:max-w-[240px] max-w-fit col-span-12;
    }
  }
}

.complete-wrapper{
  @apply my-4 flex flex-col gap-2 justify-center items-center;

  .grid-complete{
    @apply grid md:grid-cols-2 grid-cols-1 md:gap-20 gap-0;
  }

  .bg-image{
    @apply md:block hidden;
  }
}

.wrapper-order-details{
  @apply flex flex-col md:gap-5 gap-2 md:p-7 p-2;

  .header-wrapper{
    @apply flex justify-between items-center;
  }

  img{
    @apply object-cover w-full max-h-[500px];
  }

  .wrapper-table{
    @apply flex flex-col gap-3;

    .relative-table{
      @apply relative overflow-x-auto
    }

    table tbody tr td img{
      @apply object-contain md:max-w-[50%] max-w-full w-full max-h-[500px] border p-[3px] rounded
    }

  }
}

.grid-card-image-find{
  @apply grid xl:grid-cols-3 grid-cols-2 grid-flow-dense relative md:gap-4 gap-2 z-[3] h-full;

  .card{
    @apply w-full rounded-xl overflow-hidden relative cursor-pointer;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.20);

    .top-image{
      @apply w-full h-36 m-0 overflow-hidden;

      img{
        @apply scale-100 duration-[.25s] transition-all ease-in-out;
      }
    }

    .body-text{
      @apply sm:p-3 p-2 flex justify-between items-center relative;

      .text-price{
        @apply sm:relative absolute sm:text-primary-dark text-white sm:top-0 sm:left-0 -top-4 -left-2 sm:p-0 px-3 sm:rounded-none rounded-tr-md sm:bg-transparent bg-primary-orange  font-medium sm:text-sm text-xs order-first flex;
      }

      .text-location{
        @apply flex order-last flex-col justify-end font-medium text-sm;

        .name{
          @apply font-medium sm:text-base text-xs;
        }

        .country{
          @apply font-medium text-xs;
        }
      }

      &::after{
        content: "";
        @apply absolute left-0 right-0 top-0 bottom-0;
      }
    }

    .tag{
      @apply absolute top-0 right-0 bg-primary2 rounded-tr-[10px] md:rounded-bl-[30px] rounded-bl-3xl text-center w-fit md:py-1 py-[2px] md:px-5 px-4 z-[3];

      .text-tag {
        @apply text-white font-semibold text-sm;
      }
    }

    &:hover{
      .top-image{
        img{
          @apply scale-110;
        }
      }
    }
  }
}

section.find-wrapper{
  @apply flex md:flex-row flex-col gap-3;
}

.filter-mobile{
  @apply md:hidden grid grid-cols-2 gap-2 ;
}

.button-upper{
  @apply p-2 bg-primary-orange rounded fixed bottom-4 right-4 z-50 md:hidden block;
}
// .wrapper-loading {
//   @apply absolute left-0 top-0 right-0 bottom-0 z-[999];

//   .content{
//     @apply relative w-full h-full flex justify-center items-center overflow-hidden;

//       .sandal{
//         @apply absolute max-w-[200px] max-h-[200px] object-contain -bottom-5 left-1/2 -translate-x-1/2;
//       }

//       .koper {
//         @apply absolute max-w-[400px] max-h-[400px] object-contain -top-4 left-[95%] -translate-x-1/2;
//       }

//       .baju {
//         @apply absolute max-w-[300px] max-h-[300px] object-contain top-2 left-0 -translate-x-1/2;
//       }
//   }
  
//   &.animate-loading{
//     animation-name: loading;
//     animation-duration: 5s;
//     animation-fill-mode: forwards;
//   }
// }

// @keyframes loading{
//   from {bottom: 0%; top: 0%;}
//   to {bottom: 110%; top: -110%;}
// }
h3.header-storie{
  @apply sm:mb-4 mb-2
}

.mobile-order{
  @apply sm:hidden flex justify-between items-center;
}

.mobile-price{
  @apply sm:hidden flex  items-center justify-between
}

.web-price{
  @apply sm:flex hidden;
}

label.storie-input{
  @apply flex sm:flex-row sm:gap-0 gap-2 flex-col items-stretch justify-between w-full p-2 sm:p-4 hover:shadow transition-all duration-300 bg-white border-2 peer-checked:border-primary-orange rounded cursor-pointer;

  .order-text{
    @apply sm:flex hidden flex-col justify-center items-end relative;
  }
}

button.btn-star{
  @apply sm:w-10 w-6 sm:h-10 h-6;
}

.star-storie{
  @apply sm:min-w-[260px] min-w-[165px];
}

.open-slide-mob{
  animation-name: open;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
}

.close-slide-mob{
  animation-name: close;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
}

@keyframes open {
  from { transform: translate(0, 100%); }
  to {transform: translate(0, 0);}
}

@keyframes close {
  from { transform: translate(0, 0); }
  to {transform: translate(0, 100%);}
}

.hero-contact-wrapper{
  @apply flex md:flex-row flex-col justify-center items-center lg:gap-28 gap-14;
}

.text-hero-wrapper{
  @apply flex flex-col lg:w-96 md:w-64 w-full;

  p{
    @apply md:mt-10 mt-2;
  }

  button{
    @apply md:mt-[70px] mt-1 md:block hidden;
  }
}

h1.title-about{
  @apply md:text-[50px] text-2xl;
}

.text-mobile{
  @apply md:mx-auto;
}

.wrapper-text-skill{
  @apply flex flex-col md:gap-6 gap-2;
}

.wrapper-skill{
  @apply md:mt-14 mt-2 grid lg:gap-10 md:gap-4 gap-2 lg:grid-cols-8 md:grid-cols-6 grid-cols-4;

  div > img{
    @apply md:w-24 md:h-24 w-12 h-12 object-cover;
  }
}

section.hero-about{
  @apply md:mt-[140px] mt-20;
}

.wrapper-flex-sevice{
  @apply flex flex-col md:gap-14 gap-2;
}

.wrapper-service-card-text{
  @apply flex sm:flex-row flex-col justify-center items-center md:gap-24 gap-3;
}

.wrapper-edu{
  @apply flex flex-col md:gap-14 gap-2;

  .grid-edu{
    @apply grid md:grid-cols-2 grid-cols-1 md:gap-12 gap-2;

    div > .title-edu {
      @apply flex justify-between items-center md:gap-2 gap-1;
      
      div > h4{
        @apply md:text-2xl text-lg text-primary-orange font-semibold;
      }

      div > h6{
        @apply md:text-base text-sm text-primary-dark font-semibold;
      }
    }

    h6{
      @apply md:text-base text-sm text-primary-dark font-semibold;
    }

  }
}

.wrapper-text-contact{
  @apply flex flex-col md:gap-14 gap-2;

  .wrapper-contact{
    @apply flex items-center justify-center lg:gap-24 md:gap-16 gap-3 flex-1 ;
  
    .form-contact{
      @apply md:w-[380px] w-72 md:flex  flex-col md:gap-4 gap-3 hidden;
    }

    .garis{
      @apply border-r h-[100px] md:block hidden;
    }

    .my-contact{
      @apply flex justify-around lg:flex-row flex-col lg:gap-0 gap-3 lg:w-full w-fit;
    }
  }
}

.btn-cv{
  @apply px-5 py-3 shadow-primary rounded-[10px] md:w-fit w-full ml-auto;
}
